//Colors
// ===========================================================================

$main-color: #0c002b;
$secondary-color: #fff200;
$third-color: #691bc9;
$fourth-color: #636e72;
$white-color: #fff;
$black-color: #000;